REACT_APP_IS_PROD=false
REACT_APP_GOOGLE_CLIENT_ID=client-id-here
REACT_APP_S3_BUCKET_NAME=aws-bucket-name-here
REACT_APP_AWS_REGION=aws-region-here
REACT_APP_AWS_ACCESS_KEY_ID=aws-access-key-here
REACT_APP_AWS_SECRET_ACCESS_KEY=aws-secret-access-key-here